<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 main_header_left align-items-center">
                        <img src="images/404error.png" alt="thapa" class="img-fluid errimg mb-5" title="thapa technical">
                        <p>Welcome to Thapa Technical World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" target="_thapa"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>