<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   {{>navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center mt-5">
                        <figure>
                            <img src="images//about.png" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr"> Mern Stack Developer </span> Youtube And A Freelancer</h1>
                        <a href="https://www.thapatechnical.com/" target="thapa"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>